<div id="blurb">

        <div id="taskbuttonholder">
                <button class="tasks">Copy to Clip Board</button>
                <button class="tasks">Send to Mail</button>
                <button class="tasks">Select All</button>
    
        </div>

<h1>Table</h1>
    <% processedFlight.data.forEach(flight => { %>
        <div id="flightInfoHolder">
            <div id="airlineTailImageHolder">
                <img src="/images/airlines/<%= flight.iatacode.toLowerCase()%>.svg" id="airlineTailImage">
                </div>

            <div id="airlineTextHolder">
                <h4>
                    <%= flight.formattedDepTime.nice %> -
                        <%= flight.airlineName %>
                            <%= flight.flightNo %> -
                                <%= flight.newFlightDuration.hours %>h
                                    <%= flight.newFlightDuration.minutes %>m -
                                        <%= flight.flightDistance.miles %> Miles
                </h4>
                <br/>
                <p>
                    From
                    <%= flight.departure.airportName %>
                        <%= flight.departure.city %>
                            (<%= flight.departure.iataCode %>) at <%=flight.formattedDepTime.time12 %>
                </p>
                <br/>
                <p>
                    To
                    <%= flight.arrival.airportName %>
                        <%= flight.arrival.city %>
                            (<%= flight.arrival.iataCode %>) at <%=flight.formattedArrTime.time12 %>
                </p>
            </div>
        </div>
        -------Transit Time-------
        
            <% });%>

</div>