<div id="blurb">

    <div id="taskbuttonholder">
        <button class="tasks">Copy to Clip Board</button>
        <button class="tasks">Send to Mail</button>
        <button class="tasks">Select All</button>

    </div>

    <!-- <h1>Two Lines reordered</h1> -->
    <% processedFlight.data.forEach(flight => { %>
    <div id="flightInfoHolder">

        <% if(processedFlight.showImage){ %>
        <%  include ./airlineimage.ejs %>
        <% } %>

        <div id="airlineTextHolder">
            <h4>
                <%= flight.lineOne %>

            </h4>
            <br />
            <p>
                Departs:
                <%=flight.hourFormattedDepTime %>
                From
                <%= flight.formattedDepDest %>


                Arrives:
                <%= flight.formattedArrDest %>
 at
                <%=flight.hourFormattedArrTime %>
            </p>
        </div>
    </div>
    <div class="transittimetext">        
        <% if(processedFlight.transit){ %>
            <%= flight.transitTime %>
        <% } %>
        </div>

    <% });%>

</div>