<div id="blurb">

    <div id="taskbuttonholder">
        <button class="tasks" onclick="selectText()">Copy to Clip Board</button>
        <button class="tasks">Send to Mail</button>
        <button class="tasks">Select All</button>

    </div>


    <div class="resultscontainer" id="selectable">
        <% if (cnProcessedFlight.passengers.length > 0){ %>
            <p>Itinerary For</p>
        <%    cnProcessedFlight.passengers.forEach(name => {%>
                <%= name %><br/>
        <%    }) %>
        <br/>
        <% } %>

        <table>
            <tr>
                <% if(cnProcessedFlight.showImage ==='on'){ %>
                <th></th>
                <%} %>

                <% if(cnProcessedFlight.airlineNameOption ==='on'){ %>
                <th>航空公司</th>
                <%} %>
                <!-- <% if(cnProcessedFlight.operatedBy ==='on'){ %>
                <th>Operated By</th>
                <%} %> -->

                <th>航班編號</th>


                <% if(cnProcessedFlight.cabin ==='cabin'){ %>
                    <th>Cabin</th>
                    <%} %>


                <th>日期</th>
                <th>離開時間</th>
                <th>離境機場</th>
                <th>到達時間</th>
                <th>目的地機場</th>
                <% if(cnProcessedFlight.duration ==='on'){ %>
                <th>飛行時間</th>
                <%} %>
                <th>距離</th>

                <% if(cnProcessedFlight.transit ==='on'){ %>
                <th>Transit</th>
                <%} %>
            </tr>
            <% cnProcessedFlight.data.forEach(flight => { %>
            <tr>
                <% if(cnProcessedFlight.showImage ==='on'){ %>
                <td>
                    <%  include ./airlineimage.ejs %>
                </td>
                <%} %>
                <% if(cnProcessedFlight.airlineNameOption ==='on'){ %>
                <td>
                    <%= flight.airlineName.name %>
                    <% if(cnProcessedFlight.operatedBy ==='on'){ %>
                        
                              <%= flight.operatedBy %>
                        
                        <%} %>
                </td>
                <%} %>
                <!-- <% if(cnProcessedFlight.operatedBy ==='on'){ %>
                <td>
                    <%= flight.operatedBy %>
                </td>
                <%} %> -->
                <td>
                    <% if(cnProcessedFlight.airlineNameOption !=='on'){ %>
                    <%= flight.airlineName.class %>
                    <%} %>
                    <%= flight.flightNo %>
                    <% if(cnProcessedFlight.cabin ==='class'){ %>
                        <%= flight.bookingClass %>
                        <%} %>
                </td>

                <% if(cnProcessedFlight.cabin ==='cabin'){ %>
                    <td><%= flight.bookingCabin %></td>
                    <%} %>

                <td>
                    <%= flight.formattedDepTime.china %>
                </td>
                <td>
                    <%= flight.hourFormattedDepTime %>
                </td>
                <td>
                    <%= flight.formattedDepDest %>
                </td>
                <td>
                    <%= flight.formattedArrDest %>
                </td>
                <td>
                    <%= flight.hourFormattedArrTime %>
                </td>

                <% if(cnProcessedFlight.duration ==='on'){ %>
                <td>
                    <%= flight.newFlightDuration.hours %>h
                    <%= flight.newFlightDuration.minutes %>m</td>
                <%} %>
                <td>




                    <%=  flight.formattedDistance %>
                </td>

                <% if(cnProcessedFlight.transit ==='on'){ %>
                <td>
                    <%= flight.transitTime %>
                </td>
                <%} %>


            </tr>

            <%}); %>

        </table>
    </div>


</div>