<div id="blurb">

    <div id="taskbuttonholder">
        <div class="tasks"><img src="./images/icons/copyicon.svg" height="18">Copy to Clip Board</div>
        <div class="tasks" onclick="doMailTo('xxx@xxx.com')"><img src="./images/icons/mailicon.svg" height="18">Send to
            Mail</div>
        <div class="tasks" onclick="selectText('selectable')"><img src="./images/icons/selecticon.svg" height="18">Select
            All</div>

    </div>
    <div class="resultscontainer" id="selectable">
        <% if (cnProcessedFlight.passengers.length > 0){ %>
            <p>行程安排</p>
        <%    cnProcessedFlight.passengers.forEach(name => {%>
                <%= name %><br/>
        <%    }) %>
        <br/>
        <% } %>

        <% cnProcessedFlight.data.forEach((flight,index) => { %>
        <div id="flightInfoHolder">

            <% if(cnProcessedFlight.showImage){ %>
            <%  include ./airlineimage.ejs %>
            <% } %>

            <div id="airlineTextHolder">
                <h4>
                    <%= flight.lineOne %>

                </h4>
                <br />
                <p>
                    Departing:
                    <%= flight.formattedDepDest %>
                    at
                    <%=flight.hourFormattedDepTime %>
                    <br />


                    Arriving:
                    <%= flight.formattedArrDest %>
                    at
                    <%=flight.hourFormattedArrTime %>
                </p>
            </div>
        </div>
        <div class="transittimetext">
            <% if(cnProcessedFlight.transit && flight.transitTime){ %>
            ----------- Transit Time:
            <%= flight.transitTime %> -----------
            <% }else if(index!==cnProcessedFlight.data.length-1){%>
            <hr />

            <% } %>
        </div>

        <% });%>
    </div>

    <!-- <h1>Two Lines reordered</h1> -->

</div>