<div id="blurb">

    <div id="taskbuttonholder">
        <button class="tasks" onclick="selectText()">Copy to Clip Board</button>
        <button class="tasks">Send to Mail</button>
        <button class="tasks">Select All</button>

    </div>


    <div class="resultscontainer" id="selectable">
        <% if (esProcessedFlight.passengers.length > 0){ %>
            <p>Itinerary For</p>
        <%    esProcessedFlight.passengers.forEach(name => {%>
                <%= name %><br/>
        <%    }) %>
        <br/>
        <% } %>

        <table>
            <tr>
                <% if(esProcessedFlight.showImage ==='on'){ %>
                <th></th>
                <%} %>

                <% if(esProcessedFlight.airlineNameOption ==='on'){ %>
                <th>Airline</th>
                <%} %>
                <!-- <% if(esProcessedFlight.operatedBy ==='on'){ %>
                <th>Operated By</th>
                <%} %> -->

                <th>Número de Vuelo</th>


                <% if(esProcessedFlight.cabin ==='cabin'){ %>
                    <th>Clase de Vuelo</th>
                    <%} %>


                <th>Fecha</th>
                <th>Salir</th>
                <th>De</th>
                <th>Llegada	</th>
                <th>A</th>
                <% if(esProcessedFlight.duration ==='on'){ %>
                <th>Duración</th>
                <%} %>

                <% if(esProcessedFlight.distance !== 'Off'){ %>
                <th>Distancia</th>
                <%} %>

                <% if(esProcessedFlight.transit ==='on'){ %>
                <th>Tránsito</th>
                <%} %>
            </tr>
            <% esProcessedFlight.data.forEach(flight => { %>
            <tr>
                <% if(esProcessedFlight.showImage ==='on'){ %>
                <td>
                    <%  include ./airlineimage.ejs %>
                </td>
                <%} %>
                <% if(esProcessedFlight.airlineNameOption ==='on'){ %>
                <td>
                    <%= flight.airlineName.name %>
                    <% if(esProcessedFlight.operatedBy ==='on'){ %>
                        
                              <%= flight.operatedBy %>
                        
                        <%} %>
                </td>
                <%} %>
                <!-- <% if(esProcessedFlight.operatedBy ==='on'){ %>
                <td>
                    <%= flight.operatedBy %>
                </td>
                <%} %> -->
                <td>
                    <% if(esProcessedFlight.airlineNameOption !=='on'){ %>
                    <%= flight.airlineName.class %>
                    <%} %>
                    <%= flight.flightNo %>
                    <% if(esProcessedFlight.cabin ==='class'){ %>
                        <%= flight.bookingClass %>
                        <%} %>
                </td>

                <% if(esProcessedFlight.cabin ==='cabin'){ %>
                    <td><%= flight.bookingCabin %></td>
                    <%} %>

                <td>
                    <%= flight.formattedDepTime.nice %>
                </td>
                <td>
                    <%= flight.hourFormattedDepTime %>
                </td>
                <td>
                    <%= flight.formattedDepDest %>
                </td>
                <td>
                    <%= flight.formattedArrDest %>
                </td>
                <td>
                    <%= flight.hourFormattedArrTime %>
                </td>

                <% if(esProcessedFlight.duration ==='on'){ %>
                <td>
                    <%= flight.newFlightDuration.hours %>h
                    <%= flight.newFlightDuration.minutes %>m</td>
                <%} %>
                
                

                <% if(esProcessedFlight.distance !== 'Off'){ %>
                    <td>
                        <%=  flight.formattedDistance %>
                    </td>
                    <%} %>

                


                <% if(esProcessedFlight.transit ==='on'){ %>
                <td>
                    <%= flight.transitTime %>
                </td>
                <%} %>


            </tr>

            <%}); %>

        </table>
    </div>


</div>